<a href="https://colab.research.google.com/github/Brundha04/Python_Notes/blob/main/brundha_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Module1--->Python**

In [ ]:
#what is python ?
"""1. most emerging and general purpose programming language
  2.High-level programming language
  3.object oriented programming language
  4.Dynamically typed programming language
  5.interpreted programming language"""

In [ ]:
#print a "Hello world!" program?
#use the "print()" is inbuilt function used to display your output
print("Hello world")

In [ ]:
#print your name ?
print("brundha")

#Numerical Data types in python

In [ ]:
# there are three types of datatpes
#1.Integer-->int
#what is an integer?
#int is a whole number either +ve or -ve numbers without decimal points
print(10)
print(-5)
# Iwant to find the dtypes of above numbers
# use "type()" is a inbult function used to find your dtypes
print(type(10))
print(type(5))

In [ ]:
#2.float:---> float
#what is a float?
#whole numbers either +ve or -ve with decimal points
print(10.5)
print(-5.5)
print(type(10.5))
print(type(-5.5))

10.5
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#complex number :--->complex
#what is a complex number?
#A real number with its imaginary part is known as complex number
# the imaginary part has to be in letter "j" is known as iota
print(2+5j)
print(3+5j)
print(type(2+5j))

#Arthematic operators

In [ ]:
#There are 7 arthematic operators
#1.addittion--->+
print(10+5)
print(type(10+5))
#2.subtraction-----> -
print(10-5)
print(type(10-5))
#3.multiplication---> *
print(10*5)
print(type(10*5))
#4.Division----> /
print(10/5)
print(type(10/5))
#why default datatype for the division is float?
# in most of the division operation the co-efficent you may get as afloat sometimes or fixed numbers sometimes
#so it is easy to convert a float in to integer
# to get the actual or sufficent co-efficent the default dtype is float

#5.MOdulus--> %
# modulus is defined as remainder of the division
print(10%5)
print(type(10%5))
#to find even or odd data or numbers or prime numbers we are using modulus{divide by 2}

print(2347596458629 % 2)

In [ ]:
#6. exponential--->**
#to the power off
print(2**3)
print(type(2**3))

In [ ]:
#use **0.5
print(25**0.5)

In [ ]:
#7. floor division --->//
#it ignores the value after the decimal point
print(10/3)
print(10//3)


**Round()**

In [ ]:
#what is round function()
#round ()can be excuted if it is decimal number
#if the decimalpoint is  more than or equal to 0.5 then you get next upcoming value which is known as ceiling value
#round()is used to print specific ndigits
#what is a ceil value and floor value?

In [ ]:
print(round(6.7))
print(round(6.4321))
print(round(2.56))

7
6
3

In [ ]:

#round(number,count_ndigits)
print(round(345.2436873,4))

345.2437

In [ ]:
#when using -ve count then round function ignores the values after decimal point makes point as a zero
print(round(-15345.98765,-5))

***variables***

In [ ]:
#what is variables?
#variables are containers where we can store our valuable information or data and reuse it
#How can we create a variables?
#we can create variables by using alphabets
s="hello world!"
print(s)
print(type(s))

In [ ]:
#take 2 variables and apply all the arithmatic operations?
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

**Types of Errors**

In [ ]:
#there are 2 types of errors
#1. Syntax error
#2. Logical error

In [ ]:
#what is syntax error?
#breaking the rules of a programming language can rise a syntax error
"""hi
good day!"""

In [ ]:
#what is logical error ?
#except syntax error all the errors comes under logical error
#ex:- Name error,attribute error,identation error ,recuessive error...etc

** Rules to create variables**

In [ ]:
#1. Start creating the variable by using alphabets
a=10
print(a)
h="hello world"
print(h)

In [ ]:
#2.Don't start create the variables by using numbers
2="hello"
5=10
print(2)

In [ ]:
#3.if you follow rule 1 and 2 you can use numbers in between variables
son2age=20
print(son2age)

20

In [ ]:
#4.dont use special characters in the variables name
##$%^&*#!
son$age=20
print(son$age)

In [ ]:
#5. we cannot use the white space in between variables
a,b,c =10,20, 30
print (a,b,c)
#Note if you want to seperate the variables use (,)  inbetween variables

10 20 30

In [ ]:
#6.we  can start creating variables by using (_)and instead of space we can use _
son_age=20
print(son_age)
_="hello"
print(_)

In [ ]:
#7. WE cannot use the capital letters as a variable name
SON_AGE=20
print(SON_AGE)

20

In [ ]:
#what is  Dynamically typed programming language?
# we cannot define data type for variables
a="hello world!"
print(type(a))
#str="hello"
b=10
print(type(b))

python is a case sensitive progrraming language

In [ ]:
"u="hello
print(U)





Python is an interpreted programming language

In [ ]:
#python executes the program step by step
a=10
b=20
a=40
b=30
print(a+b)

In [ ]:
#8.we cannot consider keywords as a variables
#what is a keyword?
#keywords are predefinded words or names in python
#these are also  part of your python syntax
#EX:-if,while,for,else,try,except,def...etc

In [ ]:
#how can you print overall keywords in python?
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Smart ways of writing variables

In [ ]:
#1. assign multiple values to multiple variables and print in seperate line
#hint:- take three varables and print in seperate line
#a=10
#b=5
#c=3
#print(a)
#print(b)
#print(c)
a,b,c,=10,5,3
print(a,b,c,sep="\n") #sep is used to print actual o/p in seperate line (backward slash n\n means printo/p in seperate line )

10
5
3

In [ ]:
#2.assign single valuento multiplemvariables and print inseoerate line
#hint :-take 3 variables
# a,b,c = 1 ---> type error
#a=1
#b=1
#c=1
a=b=c=1
print(a,b,c,sep ='\n')

Input()

In [ ]:
#what is input()?
#its a user defined variable
#it is a inbuilt function use to intake any kind of information from user and store it
#what is the purpose of input()?
#multiple user valuable information or data intakes and low memory occupency
#enhance python performance
#how we can create input()?
a= input()
print(a)
print(type(a))
#what is the default data type for input()?
#string
# why the default dtype for input() is a string ?
"""we dont know what type of information  can be taken from  the user, sothe
class which accepts all the characters is string
string is the only class having collection of multiple characters"""

2+5j
2+5j
<class 'str'>

'we dont know what type of information  can be taken from  the user, sothe\nclass which accepts all the characters is string\nstring is the only class having collection of multiple characters'

# 29 - 11-2024

In [ ]:
a= input("enter the number:")
b= input("enter the number :")
print(a+b)
#Note :- adding of two strings is known as concatenation

enter the number:7
enter the number :8
78

In [ ]:
#How can we apply the arthematic operations by using the input()'s?
#we need to mention the numeric data type for input() function
a = int(input("enter the number: "))
b = int(input("enter the number: "))
print(a+b)

In [ ]:
s = input("enter your valid email: ")
print(s)

Strings

In [ ]:
#what is a string?
#string is a collection of multiple characters  which are declared inside(" ") (' ')
#any message that can be written inside the " " or ' ' is known as string
print("hello world")

In [ ]:
#how many types of strings?
#single line string----> (" ") or (' ')
#multi line string-----> (""" """)or (''' ''')

In [ ]:
#string is a collection of multiple characters where each character is accessable
# how can we declare a string?
# declared string(" ") (' ')

In [ ]:
#how can we access the characters inside the string ?
#by using indexes and slicing operator we can acess  the character inside the string

In [ ]:
# how can we acess the characters inside the string?
#by useing indexes and slicing operator we can acess the characters inside the string

In [ ]:
#what is index?
#indexing means sequential postion number of each character in the string
#the indexing can be start from '0'

In [ ]:
#what is slicing?
# the process of getting or accessing a substring from main string
#slicing----> []
#what is substring ?
# a part of string from main string
#[index_postion number]
#i want to print 1st character from below string?
h= "Hello world!"
print(h[0])
print(h[8])

H
r

In [ ]:
#print "hello" from the below string?
a="hello world!"
#[start:end]
print(a[0:5]) #end is always n+1
#note:- slicing can be stop beforethe given end index postion number
print(a[3:8])

In [ ]:
#print the even index position characters from the below string?
h = "Hello world!"
#[start:end:step]
print(h[0:12:2])

In [ ]:
#How can we find the length of a string?
#by using len()
#in len() it starts with 1
print(len(h))
print(len(h)-1) #gives the last index

Negative indexing

In [ ]:
#what is negative indexing?
#accessing the string charactersin reverse direction
#-ve is starts with -1
u="hello world!"
print(u[11])
print(u[-1])

In [ ]:
#print the world! in reverse direction
#print(u[-1:-7:-1])
print(u[-1:-7])

!dlrow

In [ ]:
l="hello world!"
print(l[-7:-1])

Default indexing

In [ ]:
s="hello world!"
print(s)
print(s[ :])
#what is defalut position number of start and end when we use default indexing
#[start is 0: end is len(string)]
print(s[::])
#[start is 0: end is len(string)]:step is 1]

In [ ]:
#malayalam"
k = input('enter your string: ')
print(k[::-1])
print(k[::2])

In [ ]:
#print(k[1::2][0:3]) #subslicing
#el ol!
print(k[1::2][-1:-3:-1])

30-11-2024

In [ ]:
s="hello team good morning!"
print(s[-1])
#print the even characters from the above string
#print(s[:])
#print(s[0:len(s):1])
print(s[ ::2])
#print odd characters
print(s[1::2])

In [ ]:
#check whetherthe given strings are palindrome or not
#"mom",madam,hydebad,malayalam,karnatak
s=input()
print(s[::-1])

String methods

In [ ]:
#The methods that are applicable for string is known as stringmethods
#how to find the methods that are applicable to string ?
#use dir() whichreturns what are all methods applicable for any object (like string,list,tuple...etc)

In [ ]:
h="Hello world!"
#use dir()
print(dir(h))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs',
'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal',
'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle',
 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'"""

In [ ]:
#important methods
#1.upper()
#2.lower()
#3.count()
#4.strip()
#5.rstrip()
#6.lstrip()
#7.index()
#8.title()
#9.capitalize()
#10.split()
#11.replace()
#12.swapcase()
#13.find()

In [ ]:
a="hello world"
print(a.upper())
print(a.lower())
print(a.capitalize())

HELLO WORLD
hello world
Hello world

In [ ]:
h="  hello world  "
print(h.strip())
print(h.rstrip())
print(h.lstrip())

hello world
  hello world
hello world

In [ ]:
a="hello  world"
#replace()
print(a.replace("world","universe"))
#replace("old_string","newstring"#)

hello  universe

In [ ]:
#find()
a="hello world"
print(a.find("e"))
#index
print(a.index('o'))

1
4

In [ ]:
l="hello team good morning , team"
print(l.count('team'))
#zfill()zero fill
h="hello"
print(h.zfill(10))

2
00000hello

String format methods

In [ ]:
age=10
txt=f"iam {age} years old"
print(txt,age)
#string formatting means it takes an argument and place it over the placeholder{}

In [ ]:
name="product A"
quantity=10
price_each=99.9
notification= f"your order for {name} has been confirmed with an quantity of {quantity} and total price {price_each*quantity} /-"
print(notification)

your order for product A has been confirmed with an quantity of 10 and total price 999.0 /-

## **escape characters**

In [ ]:
#EC is used to print the illegal characters in the string---->it is declared in backward slash(\) infront of illegal characters
a="hi team \"good day\" hope you are doing well"
print(a)

hi team "good day" hope you are doing well

02-12-2024

**Conditional statements**

In [ ]:
#what is conditional statements and why we are using conditional statements?
#To check the condition is satisfied or not satisfied
#to make decisions in programming we use conditional staements
#we are having 3 conditions
#if---->elif---->else

In [ ]:
#How can you make conditions satisfied or not satisfied?
#how can we check the condition?
#we checking conditions based on "comparision operators"
#what is comparision operators and how many types?
#comparision operators are also known as "relational operators"
#there are 6 types
"""1.equals too----->==
  2.not equals to----->!=
  3.greater than ----->  >
  4.less than----->  <
  5.greaterthan or equals too ---->   >=
  6.lessthan or equals too ---> =< """

In [ ]:
#write a program to check wheather the student is pass or fail
pass_marks=40
student_marks=int(input("enter the marks:"))
if student_marks >= pass_marks:
  print("congratulations you are passed")
else :
  print("better luck next time")

enter the marks:40
congratulations you are passed

In [ ]:
#write a program to print weather the given number is +ve or negative if it is zero means print nuetral
a = int(input("enter the number: "))
if a>0:
  print("positive")
elif a == 0:
  print("neutral")
else:
  print("-ve")

In [ ]:
#write a program to tecj wether the given number is even or odd?
#if num is even print "even" or else print odd
a=int(input("enter the number :"))
if a % 2==0:
  print("even")
else:
  print("odd")

enter the number :54
even

In [ ]:
#check wheather the number is prime no or not
a=int(input("enter the number:"))
if a=

In [ ]:
#check weather the given number is prime number or not?
#check weather the given string is palindrome or not
#mom, malayalam,
a = "malayalam"
print(a[::-1])
print(a[0:9:-1])

malayalam

03-12-2024

In [ ]:
#check weather  the given  string is palindrome or not irrespective of letter case
print("a"== "A")
print("Hello"== "hello")
print("MoM"== "mom")
a  = input("enter your string: ")
if a.lower() == a[::-1].lower():
  print("yes palindrome")
else:
  print("Not Palindrome")

**Logical operators

In [ ]:
#to check the multiple conditons at a time we need to use logical operators
#1.-and :- executes the program when all the conditions are true
#2. or :- executes the program if any one condition is satisfied  or true
#3. not:- it reverse your actual output
print(1==1)
print(not(1==1))

In [ ]:
 #1.and  :- executes the program when all the conditions are true
 a=455
 b=56
 c=60
 d=25
 #check that a is greaterthan c and b is greater than d and d is less than c
 #if these conditions are satisfied then print all the conditons are satisfied else print ni conditon satisfied
 if a>c and b>d and d<c :
  print("all the conditons are satisfied")
else:
  print("any  one conditon is not satisfied ")

all the conditons are satisfied

In [ ]:
#or :- executes the program if any one condition is satisfied  or true
a = 455
b = 56
c = 60
d = 25
 #from above data checkif any one condition is satisfied execute the program
 #check a is less than b and b is less  c and c is greater than a and d is less than a
if a<b or b<c or c>a or d<a:
  print("true")
else:
  print("false")

In [ ]:
#both "and" & "or"operators are used
a = 455
b = 56
c = 60
d = 25
 #from above data checkif any one condition is satisfied execute the program
#check a is less than b and b is less  c and c is greater than a and d is less than a
if a<b or b<c or c>a or d<a and a>300:
  print("true")
else:
  print("false")

In [ ]:
#write a program to check weather the user is eligible for adventure ride or not
#if the age is between 15 to 40 years they are eligible for ride
# so below 15 is not eligible for ride
#above 40 print please choose another ride
a=int(input("enter the age :"))
if a>=15 and a<=40:
  print("eligible for ride")
elif a > 40:
  print("choose another ride")
else:
  print("not eligible for ride")

**Nested conditon**

In [ ]:
#what is nested condition ?
#writing a condition inside the another condition is known as nested condition
#why we require nested condition or when  we have to use nested condition ?
#A condition can be executed if the previous step or condition is satisfied
#if you want a series of output then we use nested conditions
a=35
#check if a is greater than 10,20,30,40,50,60
#print (a is greater than 10)
#print(a is greater than 20)
#print (a is greater than 30)
#print(a is greater than 40)
if a>10:
  print("a is greater than 10")
  if a>20:
    print("a is greater  than 20")
    if a>30:
      print("a is greater than 30")
      if a> 40:
        print("a is grater than 40")
      else :
        print("a is less than 40")
    else:
      print("a is less than 30")
  else:
    print("a is less than 20 ")
else:
  print("a is less than 10")

In [ ]:
#write a program based on marks of the students print the grades
#if the student is getting marks from 40 to 50-----> print "you have  recevied "D"grade
#if the student is getting marks from 51 to 60-----> print "you have  recevied "C"grade
#if the student is getting marks from 61 to 70-----> print "you have  recevied "B"grade
#if the student is getting marks from 71 to 80-----> print "you have  recevied "B+"grade
#if the student is getting marks from 81 to 90-----> print "you have  recevied "A"grade
#if the student is getting marks from 91 to 100-----> print "you have  recevied "A+"grade
#if the student is getting marks from 91 to 100-----> print "you have  recevied "A+"grade
#if the student is getting marks tham  100-----> print "Don't be smart
#write the code by using nested condition along with elif
marks=int(input("enter the marks:"))
if marks <= 100:
  print("congratulations")
  if marks >= 40 and marks<=50:
    print("you have received 'D' grade")
  elif marks > 50 and marks <= 60:
      print("you have received 'C' grade")
  elif marks > 60 and marks <= 70:
        print("you have received 'B' grade")
  elif marks > 70 and marks <= 80:
          print("you have received 'B+' grade")
  elif marks > 80 and marks <= 90:
            print("you have received 'A' grade")
  elif marks >90 and marks <= 100:
              print("you have received'A+' grade")
else :
      print("Don't be smart")

enter the marks:102
Don't be smart

04-12-2024

**Loops **

In [ ]:
#Loops :-
#Loops are defined as SET of instructions or set of rules
#what is the purpose of loops ?
#The purpose of loops is to avoid the duplicate codes
#loops encourages to write DRY codes and to avoid WET codes
#How many types of codes?
#there are 2 types of codes
#1.WET codes---->Write everything twice
#2.DRY codes----->Don't repeat yourself

In [ ]:
#How many types of loops ?
#two types
#1.While loop
#2.For loop

**While loop**

In [ ]:
#what is a while loop ?
#It is defined as while loop is a set of instructions runs until the condition remains true
target = 5
intial = 1
while intial <= target:
  print("go up")
  print("go down")
  print("==========Rep completed=========")
  intial = intial + 1

In [ ]:
print(1<=5)
print(2<=5)
print(3<=5)
print(4<=5)
print(5<=5)
print(6<=5)

In [ ]:
#write a basic program to run a lift if the user is given 4 stop the lift at 4th  floor
user_input=int(input("enter floor number : "))
intial =1
while intial <= user_input:
  print(f'you are at {intial}floor')
  intial=intial + 1

enter floor number : 4
you are at 1floor
you are at 2floor
you are at 3floor
you are at 4floor

In [ ]:
#
a=[1,2,3,4,5,6,7,8,9]
#print multiples of 2 inabove list
#[2,4,6,8,10,12,14,16,18]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**For loop**
---->Running a set of instructions over the collections

In [ ]:
Running a set of instruction over the collections

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:    #i is known as iterator and process of iterating is known as iterations
  print(i*2,end=",")    #end act like a delimeter is nothing but special charactereach item in data set

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
  print("hello world!")

hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!
hello world!

In [ ]:
#
b="Hello"
for i in b:
  print(b)

Hello
Hello
Hello
Hello
Hello

**Break and Continue**

In [ ]:
#Break:- it stops the entire  loop irrespective of items in the collections
num =[1,2,3,4,5,6,7,8,9]
for i in num:
  print(i)
  if i == 5:
   break

In [ ]:
#Continue :- is used to skip the current iterations
num =[1,2,3,4,5,6,7,8,9,]
for i in num:
  #skip the 3,6,9 from above collection and print all
  if i== 3 or i== 6 or i== 9:
    continue
  print(i,end=" ")
  #Note:- we don't have multiple breaks but we can skip multiple  items at a time by using continue with 'or' operator

**Range()**

In [ ]:
#[index_number]
#range(end_number)
for i  in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#range(start,end)
for i in range(1,5):
  print(i)

In [ ]:
#range(start,end,step)
for i in range (0,100,2):
  print(i, end=",")

05-12-2024

**Collections**

In [ ]:
#There are 4 types of collections
#1.List
#2.Tuple
#3.Set
#4.Dictionary

In [ ]:
#There are two types of data in the collections
#1, Heterogenous data :- it is a collection of multiple data items for ex:-int,float,complex,strings....etc
#2. Homogenous data :- it is a collection of only one data type for ex:- either int ,either float

**List**

In [ ]:
#what is a List ?
#List can be declared in ---->[]
#each element in the list in seperated by (,)
#list is defined as---->ordered,muttable,and allows duplicates

**List allows the duplicates**

In [ ]:
#Lets create a list
l1 = ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
print(l1)
print(len(l1))

**Orderd list**

In [ ]:
#what is ordered?
#elements or items in the collection is having a sequence of index position numbers
l2 =  ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
#From the above list print "kiwi"
#[index_position number]
print(l2[2])

kiwi

In [ ]:
#From the list print a range of items from banana to watermelon
#[start_end:end_index] #end_index is always n+1
print(l2[1:5])

In [ ]:
#from the list i want even postional characters characters
#[start:end:step]
print(l2[0:7:2])
#similarly odd characters
#[start:end:2
print(l2[1:7:2])

**Negative Indexing**

In [ ]:
#what is -ve indexing?
#Acessing the elements from collection in reverse direction
#negative indexing starts from -1
l3=  ["banana","kiwi","pineapple","watermelon",]
print(l3[3])
print(l3[-1])

In [ ]:
#can we print the range of  items by using negative indexing by giving start:end
#print(l3[-1:-4])
#print(l3[-1:-5:-1])
print(l3[-4:-1])
"""Note :-When we are using negative indexing if the index numbers isfrom left to right direction then we no need to defint
the step value as-1 other wise
if we want to reverse anycollection from right to left then in slicing we need
to define step as -1"""

**Default indexing**

In [ ]:
#what  is default indexing?
#by default [start is 0 :end is len(collection):step is 1]
l4=
#

**List  is muttable**
Mutable means itfollows three properties
1.----Swapping or replace items from your collection
2.----Adding new items to the collection
3.----Remove items from the collection

In [ ]:
#from typing import Newtype
#swapping or replace items from list
l5 =['r','python','java','c++','c']
#replace the"r" with.net
l5[0] = ".net"
print(l5)

['.net', 'python', 'java', 'c++', 'c']

In [ ]:
#Adding new items to the existing list
#in above l5 add"css" in the list
print(dir(l5))
"""'append', 'clear', 'copy', 'count','extend', 'index', 'insert',
 'pop', 'remove', 'reverse', 'sort'"""

In [ ]:
#1st :- Append() by default itadds the items at the end of the list
#what is the default index position here  add you add items in list by using append()?
l6 = ['.net', 'PYTHON', 'JAVA', 'C++', 'C']
l6.append('css')
print(l6)

['.net', 'PYTHON', 'JAVA', 'C++', 'C', 'css']

In [ ]:
#insert() :- it adds the items at particular index position?
l6 = ['.net', 'PYTHON', 'JAVA', 'C++', 'C']
l6.insert(2,'javascript')
l6

['.net', 'PYTHON', 'javascript', 'JAVA', 'C++', 'C']

07-12-2024

In [ ]:
#Adding new items to the existing list
#what are all methods we can apply on specific object?
l6 = ['R','python','Java','C++','c']
print(dir(l6))
#1.Append():- By default i adds the itemsadd the end of the list
l6.append('css')
l6
#can we add multiple items at a time by using the append function
#we cannot add why because append() can takes only one argument
l7=[1,2,3,4,5]
l6.append(l7)
l6

In [ ]:
#if i want to add the items at particular index position? what method we need to use?
l8 = [1,2,3,4,6,7,8,9]
#add the '5' at 4th index position
l8.insert(4,5)
l8
#syntax:- insert(index_position, element)
#can we insert multiple items at a time?
#No we cannot why beacuse insert can take only two arguments one is index position and another one is element

In [ ]:
#How can we add the multiple items to the exisiting list?
# use 'extend()' adds the multiple items from any collection to the existing list
l9 = ['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS']
l10 = ['apple','banana','pineapple']
#add the l10 in to l9
l9.extend(l10)
print(l9)
#what is default index position when you use the extend()?
#the items are adding at the end of the existing list

**Remove the items from the list**

In [ ]:
#1. pop() is used remove the items from the list and by default it removes the last item of the list
l11=['r','python','java','c++','c','css','apple','banana','pineapple']
l11.pop()

'pineapple'

In [ ]:
#print(l11)
l11.pop(-1)

'banana'

In [ ]:
#Note:- pop(index_position_num) to remove the particular item and by default it removes last item of the list
l11.remove() #we need to give atleast one argument

In [ ]:
#2.remove() is used toremove the specific item,so remove(item_name)id doesn't take index position
#from above list remove "R" language
l11=['r','python','java','c++','c','css','apple','banana','pineapple']
l11.remove('r')
print(l11)

['python', 'java', 'c++', 'c', 'css', 'apple', 'banana', 'pineapple']

In [ ]:
#3. How can we remove multiple items from the list?
#del collection_name [start:end:step] by using delete method
del l11[1:4]
l11

['python', 'css', 'apple', 'banana', 'pineapple']

In [ ]:
#4. i want to remove only items from the list
l12 = ['PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple']
#use the  clear() to remove all the items from the list and print the empty list
#can we use del to remove entire items from the list---> yes we can use del method with slicing operator

l12.clear()
print(l12)

In [ ]:
#5. how can we delete the entire list
# use "del collection_name"
del l12
print(l12)

**Tuple**

In [ ]:
#what is a tuple and how to create this tuple ?
#Tuple is declared in ()
#tuple is ordered ,Immutable,And allows duplicates

**Tuples allows the duplicates**

In [ ]:
t1 = ('apple','bananan','mango','apple','apple','pineapple')
print(len(t1))
print(type(t1))
print(t1)
print(dir(t1))

6
<class 'tuple'>
('apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple')
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

**Tuples are ordered**

In [ ]:
#In tuples the items are in the sequence of index position number
#By using the index_position number we can access the items from the tuple
t1 = ('apple','bananan','mango','apple','apple','pineapple')
print(t1[2])
print(t1[1:5])
#Reverse the entire tuple
print(t1[::-1])

mango
('bananan', 'mango', 'apple', 'apple')
('pineapple', 'apple', 'apple', 'mango', 'bananan', 'apple')

**tuple is Immutable**

In [ ]:
#we cannot replace ,add and remove the items from tuple
print(dir(t1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t1[4]="watermelon"
print(t1)

In [ ]:
#How can we replace or add the items from the tuple
#we need to convert the tuple into list
t_1=list(t1)
print(t_1)

['apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple']

In [ ]:
l_t=list(t1)
print(l_t)

['apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple']

In [ ]:
#Tuples are faster than the list beacuse tuples are immutable means tuples are having fixed memory size
#When we need to use tuple and list?
#Tuple are used to store valuable information where we won't do any changes to that data
#List is used when we need to manipulate the data

09-12-2024

**SET**

In [ ]:
#what is a set and how can we define  a set?
set can be declared in---->{}
#set are defined as--->unorderd,immutable,and wont allow the duplicates

**set won't allow duplicates**

In [ ]:
s1= {1,2,3,4,5,2,3,4,5,9}
#whatis the length of the above set?
print(len(s1))
print(s1)

6
{1, 2, 3, 4, 5, 9}

**set is unorderd**

In [ ]:
#what is unordered?
#unordeered means the elements in the set doesnt have indexposition numbers
s2={"apple","banana","pineapple","apple","watermelon"}
#print the pineapple  from from the above set
print(s2[2]) #'set' object is not subscriptable bcoz set doesnt have index position number

**set is immutable**

In [ ]:
#in sets we can  add the items and we can remove the items but we cannot replace the elements in the set
s2={"apple","banana","pineapple","apple","watermelon"}
s2[3]="muskmelon"
print(s2) #'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

**Add items in the set**

In [ ]:
#Add()
#add "muskmelon" in the s2
s2.add('muskmelon')
print(s2)

{'muskmelon', 'watermelon', 'pineapple', 'banana', 'apple'}

In [ ]:
#can we insert a element at particular index position?
#No
print(dir(s2))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
#How can we add the multiple items intoset at a time?
#By using the update() we can add multiple items into set
l1=[1,2,3,4,5,6]
s3={'apple','muskmelon','pineapple','banana','watermelon'}
s3.update(l1)
print(s3)

{1, 'watermelon', 2, 3, 4, 5, 6, 'banana', 'apple', 'muskmelon', 'pineapple'}

**Remove the items from the set**

In [ ]:
#pop() this method is not preferable in sets
s4={1, 'watermelon', 2, 3, 4, 5, 6, 'banana', 'apple', 'muskmelon', 'pineapple'}
s4.pop()
print(s4)

{2, 3, 4, 5, 6, 'watermelon', 'muskmelon', 'pineapple', 'banana', 'apple'}

In [ ]:
s4.pop()

2

In [ ]:
#remove('item_name')
s4={1, 'watermelon', 2, 3, 4, 5, 6, 'banana', 'apple', 'muskmelon', 'pineapple'}
s4.remove('muskmelon')
print(s4)

{1, 'watermelon', 2, 3, 4, 5, 6, 'apple', 'banana', 'pineapple'}

In [ ]:
#discard('item_name')
s4={1, 'watermelon', 2, 3, 4, 5, 6, 'banana', 'apple', 'muskmelon', 'pineapple'}
s4.discard('banana')
print(s4)

{1, 2, 3, 4, 5, 6, 'apple', 'pineapple', 'watermelon', 'muskmelon'}

In [ ]:
#what is thedifference between remove and discard?
"""when we use "remove()" if the items exist in the set then it wont rise an error,other wise itthroughs an error
when we use "discard()" even if the item exist or not it wont show an error"""
s4.remove('banana')
print(s4)

In [ ]:
s4.discard("banana")
print(s4)

In [ ]:
#Note:- we cannot delete multiple items at a time in a set
#clear()
s4={1,2,3,4,5,6,'watermelon','apple','muskmelon','pineapple','banana'}
s4.clear()
print(s4)

set()

In [ ]:
del s4
print(s4)

In [ ]:
#Why sets are faster than the list and tuple?
#Bcoz set is unordered and imutable
#Set are used in matrix operators

In [ ]:
s1={'a','b','c','d'}
s2={'d','e','f','g'}
s=s1.union(s2)
print(s)

{'c', 'b', 'f', 'g', 'd', 'a', 'e'}

In [ ]:
#print common items from the elements
s=s1.intersection(s2)
print(s)

{'d'}

**Dictionary**

In [ ]:
#what is dictionary? or How can you define an dictionarey
#dictionary ---> {}
#dictinary is defined as unordered, muttable, it wont allow the duplicates
#How can we store items in the dictionary?
# Key: value pair

**Dictionary wont allows the duplicates**

In [ ]:
d1 = {
    'Name':'brundha',
    'education': 'commerce',
    'occupation':'DA',
    'education':'Bachelors'
}
print(len(d1))
print(d1)

3
{'Name': 'brundha', 'education': 'Bachelors', 'occupation': 'DA'}

**Dictionary is unordered**

In [ ]:
print(d1[2])

In [ ]:
#How can we access the items from the dictionary?
#by using the key names
d1['occupation']
d1['Name']

'brundha'

**Dictionary is muttable**

In [ ]:
#Add items in the dicitionary
#add your fav bikes
d1['bike']='RE'
print(d1)

**Replace the item from the dictionary**

In [ ]:
d1['Name']='rnb'
print(d1)

**Remove the items from dictionary**

In [ ]:
#pop('key_name')
d1.pop('bike')
print(d1)

In [ ]:
#clear()
d1.clear()
print(d1)

{}

In [ ]:
d2 = {
    'Name':'brundha',
    'education': 'commerce',
    'occupation': 'DA',
    'education':'Bachelors',
    'fruits' : ['apple','mango','banana','kiwi']
}
#in  above dict print only apple
print(d2['fruits'][0])

apple

In [ ]:
#replace the "kiwi"with "dragonfruit"
d2['fruits'][3]='dragonfruit'
print(d2)

{'Name': 'brundha', 'education': 'Bachelors', 'occupation': 'DA', 'fruits': ['apple', 'mango', 'banana', 'dragonfruit']}

In [ ]:
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#print only the keys from above dic?
print(d2.keys())
print(d2.values())

dict_keys(['Name', 'education', 'occupation', 'fruits'])
dict_values(['brundha', 'Bachelors', 'DA', ['apple', 'mango', 'banana', 'dragonfruit']])

In [ ]:
print(d2)
print(d2.items())

{'Name': 'brundha', 'education': 'Bachelors', 'occupation': 'DA', 'fruits': ['apple', 'mango', 'banana', 'dragonfruit']}
dict_items([('Name', 'brundha'), ('education', 'Bachelors'), ('occupation', 'DA'), ('fruits', ['apple', 'mango', 'banana', 'dragonfruit'])])

In [ ]:
del d2
print(d2)

In [ ]:
num=int(input())
if num %2 !=0:
  print("odd,  weird")
if num%2==0 and 2<=num<=5:
  print("not weird")
elif num%2==0 and 6<=num<=20:
     print(" weird")
elif num%2==0 and num > 20:
    print("not weird")

5
odd,  weird

**Practise**

In [ ]:
#2.  Write a Python program to multiply all the items in a list
is: {total}")
def multiply_list(items):
    result = 1
    for item in items:
        result *= item
    return result

my_list = [1, 3, 4, 6, 8]
total = multiply_list(my_list)
print(f"The product of the list is {multiply_list_items(numbers)}")

The product of the list is: 576

In [ ]:
# 3. Write a Python program to get the largest number from a list
def find_maximum (num1,num2,num3):
 return max (num1,num2,num3)

num1= int(input("enter the first number:"))
num2= int(input("enter the second number:"))
num3= int(input("enter the third number:"))
maximum= find_maximum (num1, num2, num3)
print(f"The maximum value is: {maximum}")

In [ ]:
# 4. Write a Python program to get the smallest number from a list.
def find_minimum (num1,num2,num3):
 return min (num1,num2,num3)

num1= int(input("enter the first number:"))
num2= int(input("enter the second number:"))
num3= int(input("enter the third number:"))
minimum= find_minimum (num1, num2, num3)
print(f"The minimum value is: {minimum}")
# 5. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

In [ ]:
#======================================================TUPLE===========================================================
# 1. Write a Python program to create a tuple.
t1 = ('apple','banana','mango','apple','pineapple')
print(type(t1))
print(t1)
# 2. Write a Python program to create a tuple with different data types.
t2=('python','java','c++','c','css')
print(t2[2])
# 3 .Write a Python program to create a tuple of numbers and print one item.
t3=(5,6,7,8,5,2)
print(t3[3])

# 4. Write a Python program to unpack a tuple into several variables.
t4=()
# 5. Write a Python program to add an item to a tuple.
t5=('apple','banana','pineapple','mango')
print(t5,'watermelon')

<class 'tuple'>
('apple', 'banana', 'mango', 'apple', 'pineapple')
c++
8
('apple', 'banana', 'pineapple', 'mango') watermelon

In [ ]:
# 6. Write a Python program to convert a tuple to a string.
my_tuple = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

result_string = ''.join(my_tuple)
print("Converted string:", result_string)

# 7. Write a Python program to get the 4th element from the last element of a tuple.
t2=('python','java','css','c++','c')
print(t2[3])
# 8. Write a Python program to create the colon of a tuple.
t3 = ('python','java','c++','c','css')
print(t3,end=(:))

In [ ]:
#======================================================SET================================================
#1. Write a Python program to create a set.
s1={2,4,6,8,10,12,14}
print(s1)
print(len(s1))
# 2. Write a Python program to iterate over sets

# 3. Write a Python program to add member(s) to a set.
s3={'apple','banana','mango','papaya',}
s3.add("watermelon")
print(s3)

{2, 4, 6, 8, 10, 12, 14}
7
{'banana', 'mango', 'papaya', 'apple', 'watermelon'}

In [ ]:
# 4. Write a Python program to remove item(s) from a given set.
s4={'apple','banana','mango','papaya','watermelon'}
s4.remove('papaya')
print(s4)
# 5. Write a Python program to remove an item from a set if it is present in the set.ython
s5={'apple','banana','mango','papaya','watermelon'}
s5.remove('mango')
print(s5)
# 6. Write a Python program to create an intersection of sets
s6={'1','2','3','4','5'}
s7={'5','6','7','8','9'}
s= s6.intersection(s7)
print(s)

In [ ]:
#7. Write a Python program to create a symmetric difference of sets.
s1={'a','b','c','d'}
s2={'d','e','f','g'}
s=s1.union(s2)
s=s1.intersection(s2)
print(s)
# 8. Write a Python program to find the maximum and minimum values in a set.
def find_maximum(num1, num2, num3):
      return max(num1, num2, num3)

num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
num3 = int(input("enter the third number:"))
maximum = find_maximum(num1, num2, num3)
print(f"The maximum value is: {maximum}")

def find_minimum (num1,num2,num3):
 return min (num1,num2,num3)
num1= int(input("enter the first number:"))
num2= int(input("enter the second number:"))
num3= int(input("enter the third number:"))
minimum= find_minimum (num1, num2, num3)
print(f"The minimum value is: {minimum}")

In [ ]:
if n <= 0:
  print("Done!")
else:
  print(n)
  countdown(n - 1)
  countdown(3)

In [ ]:
def countdown(n):
  if  n <= 0:
  print("Done!")
else:
  print(n)
  countdown(n - 1)
  countdown(3)

In [ ]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{('abc', 'xyz'), 1, 'PYnative'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

{'Orange', 'Yellow', 'Black'}

In [ ]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}
set3 = set1.union(set2)
print(set3)

{'10', 40, 10, 50, 20, 60, 30}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)

{'Green', 'Orange', 'Yellow', 'Red', 'Black', 'Blue'}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}
print(set1.issubset(set2))
print(set2.issuperset(set1))

In [ ]:
#find the minimum number in a list?
list=[15,85,65,35,12,125,2,12,34,5,6,8]
min=list[0]
for i in list:
  if min > i :
    min=i
print(min)

2

In [ ]:
#find the minimum number in a list?
list=[15,85,65,35,12,125,2,12,34,5,6,8]
max=list[0]
for i in list:
  if max <i:
    max=i
print(max)

125

In [ ]:
#find the middle element in the list
list=[1,2,3,4,5]
mid=int(len(list)/2)
print(list[mid])

3

In [ ]:
#conver a list into string?
list=['p','y','t','h','o','n']
string ="".join(list)
print(string)
print(type(string))

python
<class 'str'>

In [ ]:
#comparing two string for anagrams?
str1='Listen'
str2='Silent'
s1=str1.upper()
s2=str2.upper()
print(s1)
print(s2)
if len(s1) == len(s2):
  print('string is in same length')
  #sort the string
  sort1=sorted(s1)
  sort2=sorted(s2)
  if sort1==sort2:
    print(f'{str1} and {str2} are anagrams')
  else:
     print(f'{str1} and {str2} are not anagrams')

LISTEN
SILENT
string is in same length
Listen and Silent are anagrams